credentials.h
utils

# Precompiled Headers
*.gch
*.pch

# PlatformIO folders
.pio*
pio
.clang_complete
.gcc-flags.json
.pioenvs
.piolibdeps
CMakeListsPrivate.txt
cmake-build-*/

build/
/compile_commands.json
